[submodule "bookcovers"]
	path = app/bookcovers
	url = git@github.com:onlyartists/press-bookcovers.git
[submodule "app/references"]
	path = app/references
	url = git@github.com:onlyartists/references.git
[submodule "flashoffer"]
	path = src/flashoffer
	url = git@github.com:jm3lee/flashoffer.git
