{% macro translations(name) %}
## Translations
```{=html}
{% for k, v in get_desc(name)["translations"].items() -%}
    {% if v is mapping -%}
        <h3>{{render_jinja(k)|title}}</h3>
        <dl>
        {% for subk, subv in v.items() -%}
            <dt>{{render_jinja(subk)|title}}</dt>
            <dd>{{render_jinja(subv)}}</dd>
        {% endfor -%}
        </dl>
    {% else -%}
        <dl>
            <dt>{{render_jinja(k)|title}}</dt>
            <dd>{{render_jinja(v)}}</dd>
        </dl>
    {% endif -%}
{% endfor %}
```
{% endmacro %}

