{% macro figure(src, alt, caption=None, href=None, width=None) %}
<figure class="figure">
    {%- if href -%}
    <a href="{{ href }}">
        <img src="{{ src }}" alt="{{ alt }}"{% if width %} width="{{ width }}"{% endif %} class="figure-img img-fluid rounded" loading="lazy" />
    </a>
    {%- else -%}
    <img src="{{ src }}" alt="{{ alt }}"{% if width %} width="{{ width }}"{% endif %} class="figure-img img-fluid rounded" loading="lazy" />
    {%- endif -%}
    {%- if caption -%}
    <figcaption class="figure-caption text-center">{{ caption | safe }}</figcaption>
    {%- endif -%}
</figure>
{% endmacro %}
