<table>
<tbody>
<tr>
  <td><strong>Head</strong></td>
  <td>Looking down to the left</td>
</tr>
<tr>
  <td><strong>Thoracic Vertebrae</strong></td>
  <td>Apex to the right</td>
</tr>
<tr>
  <td><strong>Pelvis</strong></td>
  <td>PSIS higher on the left</td>
</tr>
<tr>
  <td><strong>Scapula L.</strong></td>
  <td>Retracted</td>
</tr>
<tr>
  <td><strong>Scapula R.</strong></td>
  <td>Protracted</td>
</tr>
<tr>
  <td><strong>Arm L.</strong></td>
  <td>Straight, abducted</td>
</tr>
<tr>
  <td><strong>Arm R.</strong></td>
  <td>Not visible</td>
</tr>
<tr>
  <td><strong>Hand L.</strong></td>
  <td>Open, supinated</td>
</tr>
<tr>
  <td><strong>Hand R.</strong></td>
  <td>Not visible</td>
</tr>
<tr>
  <td><strong>Leg L.</strong></td>
  <td>Extended, weight-bearing</td>
</tr>
<tr>
  <td><strong>Leg R.</strong></td>
  <td>Slightly flexed</td>
</tr>
<tr>
  <td><strong>Foot L.</strong></td>
  <td>Neutral</td>
</tr>
<tr>
  <td><strong>Foot R.</strong></td>
  <td>Plantar flexion</td>
</tr>
</tbody>
</table>
