{% macro origins_list(name) %}
{% for i in get_origins(name) -%}
- {{render_jinja(i)|linktitle}}
{% endfor %}
{% endmacro %}

{% macro insertions_list(name) %}
{% for i in get_insertions(name) -%}
- {{render_jinja(i)|linktitle}}
{% endfor %}
{% endmacro %}

{% macro summary(name) %}
## Summary

### Origins
{{origins_list(name)}}

### Insertions
{{insertions_list(name)}}

### Actions

{% for i in get_actions(name) -%}
- {{render_jinja(i)}}
{% endfor %}
{% endmacro %}
