{% macro origins_list(name) %}
    <ul>
        {% for i in get_origins(name) %}
            <li>{{render_jinja(i)}}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro insertions_list(name) %}
    <ul>
        {% for i in get_insertions(name) %}
            <li>{{render_jinja(i)}}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro summary(name) %}
## Summary

```{=html}
<dl>
    <dt>Origins</dt>
    <dd>
{{origins_list(name)}}
    </dd>

    <dt>Insertions</dt>
    <dd>
{{insertions_list(name)}}
    </dd>

    <dt>Actions</dt>
    <dd>
        <ul>
            {% for i in get_actions(name) %}
                <li>{{render_jinja(i)}}</li>
            {% endfor %}
        </ul>
    </dd>
</dl>
```
{% endmacro %}
